ProductApp/.vs/

ProductApp/ProductApp/bin/

ProductApp/ProductApp/obj/

ProductApp/ProductApp.BLL/bin/

ProductApp/ProductApp.BLL/obj/

ProductApp/ProductApp.DAL/bin/

ProductApp/ProductApp.DAL/obj/

ProductApp/ProductApp/appsettings.json
