
TestProj/.vs/TestProj/v16/.suo

TestProj/.vs/TestProj/v16/Server/sqlite3/storage.ide-shm

TestProj/.vs/TestProj/v16/Server/sqlite3/storage.ide-wal

TestProj/TestProj/obj/Debug/netcoreapp3.1/TestProj.csproj.FileListAbsolute.txt

TestProj/TestProj/obj/Debug/netcoreapp3.1/TestProj.csprojAssemblyReference.cache

TestProj/.vs/TestProj/DesignTimeBuild/.dtbcache

TestProj/.vs/TestProj/v16/Server/sqlite3/storage.ide

TestProj/.vs/TestProj/config/applicationhost.config

TestProj/TestProj/bin/Debug/netcoreapp3.1/TestProj.dll

TestProj/TestProj/bin/Debug/netcoreapp3.1/TestProj.pdb

TestProj/TestProj/obj/Debug/netcoreapp3.1/TestProj.dll

TestProj/TestProj/obj/Debug/netcoreapp3.1/TestProj.pdb

TestProj/TestProj/obj/Debug/netcoreapp3.1/TestProj.assets.cache

TestProj/.vs/TestProj/v15/.suo
